<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- BreadCrubms -->
            <app-breadcrubms></app-breadcrubms>

            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>
            <!-- esto es para redireccionar lar rutas, renderiza -->

            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 20xx Admin Pro by wrappixel.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>



    </div>



    <!-- todas las ventanas dentro de pages, pueden utilizar este modal -->

    <app-modal-imagen></app-modal-imagen>