/* aceleramos las animaciones del template */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}


/* cambios de estilo para los account-settle - colores */

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
    align-items: center;
    text-align: center;
}

.w200 {
    width: 200px;
    align-items: center;
    text-align: center;
}

.avatar {
    /* border: 1px solid grey; */
    border-radius: 100%;
    width: 40px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}